@import '../../../sass/main';

.cardPanel {
    @include flex(_, _, column);
    @include block-format(relative, 290px, fit-content, 10px 15px, 10px 5px 5px, $gray-light);
    min-width: 290px;
    min-height: 222px;
    box-shadow: 3px 3px 6px 2px $gray;
    border-radius: 5px;
    transition: all 0.3;
    animation: swing-in-top-fwd 0.5s 1 linear;

    &.animation_delete {
        animation: scale-down 0.5s 1 linear;
    }

    &:hover {
        .cardPanel__icon_delete {
            opacity: 1;
        }
    }

    @media (max-width: $md) {
        margin: 15px auto;
    }

    &__name {
        @include block-format(_, 170px, _, 10px 10px);
        @include text-format(24px/1.2, 600, $satisfy-serif, _, left, 0);
        border-bottom: 2px solid $blue-dark;
        cursor: pointer;
    }

    &__inp_name {
        @include block-format(_, 90%, 30px, 0 auto 10px , 10px, $blue-light);
        @include text-format(20px/1.2, 600, $satisfy-serif);
        border-radius: 5px;
    }
    
    &__danger {
    display: block;
    @include modal-danger();
    width: 90%;
    margin: 0 auto;
    }

    &__btn_cancel {
        @include btn-reset();
        position: absolute;
        bottom: 20px;
        right: 50px;
    }

    &__btn_confirm {
        @include btn-reset();
        position: absolute;
        bottom: 20px;
        left: 50px;
    }

    &__icon_cancel,
    &__icon_confirm {
        @include animation-icon;
        width: 30px;        
    }

    &__delete {
        @include btn-reset();
        position: absolute;
        right: 10px;
        top: 10px;
    }

    &__icon_delete {
        @include animation-icon;
        width: 18px;
        opacity: 0;
    }

    &__btn_add {
        @include btn-reset();
        @include flex(center, center);
        @include block-format(_, 40px, 25px, 10px auto);
        box-shadow: 0 2px 6px 2px $gray;
        border-radius: 3px;
        transition: all 0.3;
        animation: fade-up 0.5s 1 linear;

        &:hover {
            width: 90%;
            background: $green-low-light;
        }
    }

    &__icon_add {
        width: 20px;
    }
}
