@font-face {
	font-family: 'PublicSans'; 
	src: url(../../content/fonts/PublicSans.ttf); 
}

@font-face {
	font-family: 'KaushanScript-Regular'; 
	src: url(../../content/fonts/KaushanScript-Regular.ttf); 
}


@font-face {
	font-family: 'Charlie Text'; 
	src: url(../../content/fonts/charlie-personal-use.ttf); 
}