//screen
$md: 770px;
$xl: 1200px;
$xxl: 1500px;

//colors
$white: #fff;
$gray: #495057;
$gray-light: #ced4da;
$gray-ultra-light: #f9fafc;
$green: #5AAC44;
$blue: #0065ff;
$blue-light: #0066ff34;
$blue-dark: #0051cc;
$red: #eb5a46;