@import '../../../sass/main.scss';

.boardItem {
  @include flex(_, center, column);
  @include block-format(relative, 200px, fit-content, 15px, 10px, $blue-gray,);
  min-height: 222px;
  box-shadow: 8px 8px 8px 8px $gray;
  border-radius: 6px;

  &.animation_delete {
    animation: fade-left-out 0.4s 1 linear;
  }

  &:hover {
    transform: translate(5px, 5px);
    box-shadow: 3px 3px 8px 8px $gray;
    cursor: pointer;

    .boardItem__icon_remove,
    .boardItem__icon_up {
      opacity: 1;
    }
  }

  &__logo {
    @include text-format(20px, normal);
    line-height: 22px
  }

  &__btn_remove {
    @include btn-reset();
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__icon_remove {
    @include animation-icon;
    width: 20px;
    opacity: 0;
  }

  &__name {
    @include block-format(absolute, 100%, fit-content, 40px 0 0, 10px);
    @include text-format(22px, bold);
    min-height: 45px;
    border-bottom: 2px solid $gray;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
  }
  
  &__danger {
    display: block;
    @include modal-danger();
    position: relative;
    top: 45px;
  }

  &__link {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__btn_cancel {
    @include btn-reset();
    position: absolute;
    bottom: 20px;
    right: 35px;
  }

  &__btn_confirm {
    @include btn-reset();
    position: absolute;
    bottom: 20px;
    left: 35px;
  }

  &__icon_cancel,
  &__icon_confirm {
    width: 30px;

    &:hover {
      animation: jello-horizontal 0.3s 1 linear;
    }
  }
}