.logout {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f9fafc;
  overflow-y: scroll;
  z-index: 10;

  .back {
    position: fixed;
    top: 15px;
    left: 25px;
    border: none;
    background: inherit;
    border-radius: 6px;
    z-index: 2;
    transition-duration: 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      background-color: #4c9aff46;
      transition-duration: 0.3s;
    }

    img {
      width: 50px;
    }
  }

  .logout-logo  {
    width: 193px;
    height: 38px;
    margin: 40px auto;
  }

  .logout-content {
    width: 400px;
    padding: 25px 40px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #d8d8da;
    @media (max-width: 640px) {
      box-shadow: none;
    }

    h1 {
      text-align: center;
      color: #5E6C84;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: -0.01em;
      line-height: 28px;
      margin-top: 10px;
      margin-bottom: 25px;
    }

    .ac-info {
      width: 100%;      
      display: flex;
      align-items: center;
      padding: 5px 0;

      img {
        margin-right: 10px;
      }

      .names { 
        :nth-child(1) {
          font-size: 20px;
          line-height: 24px;
          display: inline-block;
        }
        :nth-child(2) {
          max-width: 300px;
          font-size: 14px;
          line-height: 20px;
          color: rgb(37, 56, 88);
          text-align: center;
          word-break: break-all;
        }
      }
    }

    .submit-login {
      width: 100%;
      background: #0052cc;
      margin-top: 20px;
      padding: 1em 1.3em;
      box-sizing: border-box;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      transition-duration: 0.3s;
      &:hover {
        cursor: pointer;
        background-color: #0065ff;
        transition-duration: 0.3s;
      }
    }

    .another {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      text-align: center;
      border-top: 1px solid #505f79;

      a {
        color: rgb(0, 82, 204);
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .policy {
    width: 330px;
    height: 28px;
    margin-top: 15px;
    text-align: center;

    a {
      color: #0052cca2;
      line-height: 1.3;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }  
    }

    span {
      margin: 0 3px;
      font-size: 13px;
      font-weight: 900;
      color: #505f79
    }
  }

  .logout-footer {
    position: fixed;
    bottom: 0;
    width: 400px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-height: 650px) {
      position: relative;
    }

    span {
      display: inline-block;
      margin-top: 15px;
      font-size: 12px;
      color: rgb(107, 119, 140);
    }

    a {
      color: #0052cca2;
      line-height: 1.3;
      font-size: 13px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      } 
    }
  }

  .modal-img-l {
    width: 25%;
    max-width: 380px;
    position: fixed;
    left: 0;
    bottom: 0;
    @media (max-width: 640px) {
      display: none;
    }
  }

  .modal-img-r {
    width: 25%;
    max-width: 388px;
    position: fixed;
    right: 0;
    bottom: 0;
    @media (max-width: 640px) {
      display: none;
    }
  }
}