.task_panel {
  background-color: #65c2ab;
  margin: 0.5em;
  padding: 0.5em;
  color: white;
  position: relative;
  cursor: pointer;
}

.shadowed {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #dfdddd;
    z-index: 2;
    top: 0;
    left: 0;
  }
}

.task_delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: #65c2ab;
}

.task_header {
  font-weight: 700;
}
