@import '../../sass/import';

.boardItem {
  @include flex(_, center, column);
  @include block-format(relative, 200px, 222px, 15px, 10px, $blue-gray,);
  height: fit-content;
  box-shadow: 8px 8px 8px 8px $gray;
  border-radius: 6px;

  &.animation_delete {
    animation: fade-left-out 0.4s 1 linear;
  }

  &:hover {
    transform: translate(5px, 5px);
    box-shadow: 3px 3px 8px 8px $gray;

    .boardItem__icon_remove,
    .boardItem__icon_up {
      opacity: 1;
    }
  }

  &__btn_remove {
    @include btn-reset();
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__icon_remove {
    @include animation-icon;
    width: 20px;
    opacity: 0;
  }
  
  &__icon_up {
    @include animation-icon;
    width: 25px;
    opacity: 0;
  }

  &__name {
    @include block-format(relative, 100%, 45px, 40px 0 0, 10px);
    @include text-format(25px/1.2, bold);
    height: fit-content;
    border-bottom: 2px solid $gray;
    border-radius: 5px 5px 0 0;
    cursor: pointer;

    &:hover {
      .boardItem__btn_edit {
        opacity: 1;
      }
    }

    &:focus {
      background: $blue-light;
    }
  }

  &__btn_edit {
    @include btn-reset();
    @include animation-icon;
    @include block-format(absolute, 20px);
    right: 5px;
    opacity: 0;
  }

  &__link {
    position: absolute;
    top: 10px;
    left: 10px;
  } 

  &__btn_cancel {
    @include btn-reset();
    position: absolute;
    bottom: 60px;
    right: 25px;
  }

  &__btn_confirm {
    @include btn-reset();
    position: absolute;
    bottom: 60px;
    left: 25px;
  }

  &__icon_cancel,
  &__icon_confirm {
    width: 30px;

    &:hover {
      animation: jello-horizontal 0.3s 1 linear;
    }
  }
}