.login {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f9fafc;
  overflow-y: scroll;
  z-index: 10;

  .back {
    position: fixed;
    top: 15px;
    left: 25px;
    border: none;
    background: inherit;
    border-radius: 6px;
    z-index: 2;
    transition-duration: 0.3s;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      background-color: #4c9aff46;
      transition-duration: 0.3s;
    }

    img {
      width: 50px;
    }
  }

  .login-logo  {
    width: 193px;
    height: 38px;
    margin: 40px auto;
  }

  .login-content {
    width: 400px;
    padding: 25px 40px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #d8d8da;
    @media (max-width: 640px) {
      box-shadow: none;
    }   

    .login-danger {
      width: 100%;
      height: initial;
      background: #eb5a46;
      text-align: center;
      color: #fbedeb;
      font-size: 14px;
      line-height: 1;
      border-radius: 4px;
      border: 1px solid #EB5A46;
      padding: .5em 1em;
    }

    h1 {
      text-align: center;
      color: #5E6C84;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: -0.01em;
      line-height: 28px;
      margin-top: 10px;
      margin-bottom: 25px;
    }

    .login-form {
      width: 100%;
      height: 320px;
      word-wrap: break-word;
      height: 158px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      

      .inp-login {
        font-size: 14px;
        background-color: #FAFBFC;
        border: 2px solid #DFE1E6;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 3px;
        height: 44px;
        padding: .5em;
        transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
        &:focus {
          outline: none;
          border-color: #4c9aff;
        }    
      }

      .password-wrap {
        position: relative;
        width: 100%;
        height: 44px;

        .inp-password {
          width: 100%;
          font-size: 14px;
          background-color: #FAFBFC;
          border: 2px solid #DFE1E6;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 3px;
          height: 44px;
          padding: .5em;
          transition-duration: .3s;
          &:focus {
            outline: none;
            border-color: #4c9aff;
            transition-duration: .3s;
          }  
        }

        .show-hide-pass {
          position: absolute;
          width: 23px;
          right: 10px;
          top: calc(50% - 12px);
          background-color: #FAFBFC;
        }
      }
      
      .submit-login {
        background: #5AAC44;
        padding: .5em 1.3em;
        box-sizing: border-box;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
          transition-duration: 0.5s;
        }
      }    
    }

    p {
      width: 100%;
      height: 29px;
      text-align: center;
      color: #5E6C84;;
      font-size: 12px;
      margin-top: 16px;
      margin-bottom: 10px;
    }

    .btn-login-out {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      padding: 3px;
      background: #fff;
      box-shadow: 1px 1px 5px 0 #d8d8da;
      border: none;
      &:hover {
        cursor: pointer;
        background-color: #e4e4e6;
        transition-duration: 0.5s;
      }

      img {
        width: 15px;
        margin-right: 10px;
      }

      span {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: #505f79;
        padding-bottom: 1px;
        height: 32px;
        line-height: 32px;
      }
    }

    .sso {
      width: 100%;
      height: 45px;
      margin-bottom: 15px;
      text-align: center;
      border-bottom: 1px solid #505f79;
    }

    a {
      color: #0052cca2;
      line-height: 1.3;
      font-size: 13px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }  
    }

    .issue {
      width: 100%;
      text-align: center;

      span {
        margin: 0 3px;
        font-size: 15px;
        font-weight: 900;
        color: #505f79
      }
    }
  }

  .policy {
    width: 330px;
    height: 28px;
    margin-top: 15px;
    text-align: center;

    a {
      color: #0052cca2;
      line-height: 1.3;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }  
    }

    span {
      margin: 0 3px;
      font-size: 13px;
      font-weight: 900;
      color: #505f79
    }
  }

  .inp-lang {
    width: 400px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #cccccc;
  }

  .login-footer {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 10px 0;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 58%;
      margin-top: 15px;
      @media (max-width: 1500px) {  
        width: 50%;      
        display: block;
        text-align: center;      
      }
      @media (max-width: 640px) {
        width: 90%;
      }
  
      li {
        min-width: 45px;
        margin: 5px 5px;
        text-align: center;
        @media (max-width: 1500px) {
          display: inline-block;   
        }
        @media (max-width: 640px) {
          margin: 0 5px;
        }
  
        a {          
          color: #8993A4;
          font-size: 13px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }  

  .modal-img-l {
    width: 25%;
    max-width: 380px;
    position: fixed;
    left: 0;
    bottom: 0;
    @media (max-width: 640px) {
      display: none;
    }
  }

  .modal-img-r {
    width: 25%;
    max-width: 388px;
    position: fixed;
    right: 0;
    bottom: 0;
    @media (max-width: 640px) {
      display: none;
    }
  }
}