.overflow-hidden {
  overflow: hidden;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding-top: 68px;
  background: linear-gradient(0deg, #fff, #eae6ff 100%);
  font-family: 'Charlie Text',sans-serif;
  @media (max-width: 770px) {
    background: linear-gradient(0deg, #fff, #edebfd 100%)     
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    transition-duration: 1s;
    background-color: rgba(255,255,255,0);
    &.scroll {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    }

    .header-auth {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-names {
        margin: 0 20px;
        text-align: center;
        font-size: 20px;
        color: rgb(59, 218, 38);
        text-shadow: 0px 0px 3px rgb(1, 7, 1);
        font-family: 'Charlie Text',sans-serif;
      }

      .btn-logout {
        position: relative;
        align-self: center;
        justify-items: flex-end;
        width: 120px;
        height: 36px;
        color: #fff;
        font-weight: 500;
        background-color: #0065ff;
        padding: .25rem .5rem;
        font-size: 1rem;
        line-height: 1.5;
        border: 1px solid transparent;
        border-radius: .2rem;
        transition-duration: 0.3s;
        &:hover {
          cursor: pointer;
          background-color: #0051cc;
          transition-duration: 0.3s;
        }
      }

      .link-work {
        margin: 0 10px;
        text-align: center;
        color: #0065ff;
        padding: .25rem .5rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .2rem;
        font-weight: 500;
        text-decoration: none;
        transition-duration: 0.3s;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          transition-duration: 0.3s;
        }
      }
    }

    .header-logo {
      width: 126px;
      height: 25px;
      align-self: center;
      justify-items: flex-end;
      margin: 0 0 2px 15px;
      &:hover {
        cursor: pointer;
      }
    }

    .btn-wrap {
      display: flex;
      align-items: center;
      margin-right: 15px;

      .btn-login {
        position: relative;
        align-self: center;
        width: 67px;
        height: 36px;
        margin-right: 8px;
        color: #0065ff;
        padding: .25rem .5rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .2rem;
        background: transparent;
        border: none;
        font-weight: 500;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
  
      .btn-register {
        position: relative;
        align-self: center;
        justify-items: flex-end;
        width: 120px;
        height: 36px;
        color: #fff;
        font-weight: 500;
        background-color: #0065ff;
        padding: .25rem .5rem;
        font-size: 1rem;
        line-height: 1.5;
        border: 1px solid transparent;
        border-radius: .2rem;
        &:hover {
          cursor: pointer;
          background-color: #0051cc;
        }
      }
    }
  }

  #hero {
    width: 100%;
    height: 767px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 770px) {
      height: initial;      
    }

    .container-hero {
      width: 1130px;
      height: 560px;
      display: flex;
      justify-content: center;
      margin-left: 15px;
      @media (max-width: 1000px) {
        width: 100%;
        height: 500px;
      }

      .left-hero {
        width: 665px;
        height: 448px;
        box-sizing: border-box;
        @media (max-width: 1000px) {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;          
        }     

        h1 {
          display: block;
          width: 635px;
          height: 180px;
          font-size: 3rem;
          line-height: 1.25;
          margin-top: 0;
          margin-bottom: .5rem;
          font-family: 'Charlie Display',sans-serif;
          font-weight: 500;
          @media (max-width: 770px) {
            width: 95%;
            height: initial;
            font-size: 2rem;
            line-height: 1.25;
            text-align: center;      
          }

          span {
            font-weight: 600;
            font-size: 2.7rem;
            font-family: 'PublicSans', sans-serif;
            @media (max-width: 770px) {
              font-size: 2rem;
              line-height: 1.25;         
            }
          }
        }

        p {
          width: 635px;
          height: 90px;
          margin-bottom: 1.5rem;
          font-family: 'Charlie Text',sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 1.5;
          color: #091e42;
          @media (max-width: 770px) {
            width: 98%;
            text-align: center;        
          }

          span {
            font-weight: 200;
            font-family: 'PublicSans', sans-serif;
          }
        }

        .form-hero {
          display: flex;
          align-items: center;
          margin-top: 50px;
          @media (max-width: 770px) {
            width: 100%;        
          }

          .inp-hero {
            width: 365px;
            height: 74px;
            padding: .375rem .75rem;
            font-size: 1.25rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 6px;
            @media (max-width: 770px) {
              display: none;        
            }
          }

          .btn-hero {
            width: 260px;
            height: 74px;
            margin-left: 15px;
            color: #fff;
            font-family: 'Charlie Text',sans-serif;
            font-size: 20px;
            padding: 0 20px;
            font-weight: 400;
            text-align: center;
            background-color: #0065ff;
            border: 1px solid #0065ff;
            border-radius: 6px;
            &:hover {
              cursor: pointer;             
              background-color: #0056d9;
              border-color: #0051cc;
            }
            @media (max-width: 770px) {
              width: 95%;
              height: 44px;
              text-align: center; 
              padding: 0;       
            }
          }
        }
      }

      .right-hero {
        width: calc(100% - 665px);
        height: 100%;
        @media (max-width: 1000px) {
          display: none;
        }

        img {
          min-width: 100%;
          position: relative;
          left: 95px;
          bottom: 60px;
        }
      }

    }
  }

  #product {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      width: 920px;
      text-align: center;
      color: inherit;
      font-size: 2.25rem;
      line-height: 1.3;
      font-family: 'Charlie Display',sans-serif;
      font-weight: 400;
      margin-bottom: .5rem;
      @media (max-width: 1000px) {
        width: 98%;
        text-align: center;      
      }
      @media (max-width: 770px) {
        font-size: 1.5rem;
        line-height: 1.3;        
      }
    }

    p {
      width: 920px;
      text-align: center;
      color: inherit;
      font-family: 'Charlie Text',sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 1.5rem;
      @media (max-width: 1000px) {
        width: 98%;
        text-align: center;      
      }
    }

    .btn-product {
      width: 194px;
      height: 44px;
      margin-bottom: 35px;
      padding: 0 1rem;
      text-align: center;
      white-space: nowrap;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5;
      color: #0065ff;
      background-color: transparent;
      border-radius: 6px;
      border-color: #0065ff;
      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0065ff;
        border-color: #fff;
      }
    }

    img {
      max-width: 90%;
    }
  }

  footer {
    min-height: 170px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-sizing: content-box;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 90%;
      @media (max-width: 1500px) {
        margin-top: 20px;
        display: block;
        text-align: center;      
      }

      li {
        min-width: 45px;
        margin: 3px 10px;
        @media (max-width: 1500px) {
          display: inline-block;   
        }

        a {          
          color: #8993A4;
        }
      }
    }

    img {
      margin: 10px 0;
      width: 170px;
    }
  }
}