@mixin modal() {
  @include block-format(absolute, 100%, 100%, 0, 0, $gray-ultra-light);
  @include flex(_, center, column);
  top: 0;
  left: 0;
  min-height: 100vh;
  overflow-y: scroll;
  z-index: 10;
}

@mixin modal-content() {
  @include block-format(_, 400px, _, 0, 25px 40px, $white);
  border-radius: 3px;
  box-shadow: 0 0 10px $gray-light;
  @media (max-width: $md) {
      box-shadow: none;
  }
}

@mixin modal-logo() {
  @include block-format(_, 193px, 38px, 40px auto);
}

@mixin modal-content-logo() {
  margin: 10px 0 25px;
  @include text-format(20px/1.3, normal, $public-serif, $gray);
}

@mixin modal-danger() {
  @include block-format(_, 100%, _, 5px 0, .5em 1em, $red);
  @include text-format(16px/1.2, normal, $charlie-serif, $white);
  border-radius: 6px;
}

@mixin modal-input() {
  @include block-format(_, 100%, 44px, _, 10px, $white);
  @include text-format(15px/1, normal, $public-serif, $gray, left);
  border: 2px solid $gray-light;
  border-radius: 6px;
  &:focus {
      outline: none;
      border-color: $blue;
  }
}

@mixin modal-input-look() {
  @include block-format(absolute, 22px, 22px, 0, 0, $white);
  top: calc(50% - 12px);
  right: 12px;
  cursor: pointer;
}

@mixin modal-btn-out() {
  @include btn-reset();
  @include block-format(_, 100%, 44px, 0, 3px);
  @include flex(center, center);
  font-size: 18px;
  box-shadow: 1px 1px 5px 0 $gray-light;
  &:hover {
    background: $gray-light;
  }
}

@mixin modal-link() {
  color: $blue;
  line-height: 1.3;
  font-size: 13px;
  text-decoration: none;
  &:hover {
      text-decoration: underline;
  }
}

@mixin modal-footer-list() {
  @include flex(center, center);
  width: 58%;

  @media (max-width: $xxl) {
      width: 50%;
      display: block;
      text-align: center;
  }

  @media (max-width: $md) {
      width: 90%;
  }

  li {
      min-width: 45px;
      margin: 5px 5px;
      text-align: center;
      @media (max-width: $xxl) {
          display: inline-block;   
      }
      @media (max-width: $md) {
          margin: 0 5px;
      }

      a {
          @include text-format(13px, normal, $public-serif, $gray);
          text-decoration: none;
          &:hover {
          text-decoration: underline;
          }
      }
  }
}

@mixin modal-footer-img-left {
  position: fixed;
  width: 25%;
  max-width: 380px;
  left: 0;
  bottom: 0;
  @media (max-width: $md) {
      display: none;
  }
}

@mixin modal-footer-img-right {
  width: 25%;
  max-width: 380px;
  position: fixed;
  right: 10px;
  bottom: 0;
  @media (max-width: $md) {
      display: none;
  }
}